body{
    background: #F9FAFC !important;
}

.loginForm {
    padding: 96px;
    background: #FFFFFF;
    border-radius: 10px;
}
button.btn.btn-primary {
    width: 100%;
    background: linear-gradient(180deg, #58B2EB 0%, #5177D0 100%);
    border-radius: 5px;
    border: 0;
}

.linkDiv{
    text-align: center;
}
.linkDiv a {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
}
.linkDiv .forgetPassword {
    color: #2B354E;
}
.linkDiv .adminLink {
    color: #5075D0;
}
