@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Outfit';
  -webkit-font-smoothing: antialiOutfitased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Outfit';
}
